@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Nova+Square&family=Philosopher:ital@0;1&display=swap');

body::before {
    content: "";
    display: block;
    height: 400px;
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704003399/Tower%20of%20God/tog_logo.jpg");
    background-color: black;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}
body::after {
    content: "";
    display: block;
    height: 500px;
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704004564/Tower%20of%20God/zahard_eyes.jpg");
    background-color: black;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) bottom;
    background-attachment: fixed;
}
body {
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704003030/Tower%20of%20God/wolhaiksong.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
#app.v-application,
.v-application--wrap .pb-12 {
    background-color: transparent !important;
}
#app {
    --sidebar-gutter: 56px;
    padding-left: var(--sidebar-gutter);
    transition: padding 0.3s linear;
    border-top: 3px maroon solid;
    border-bottom: 3px maroon solid;
}
#app .v-bottom-navigation {
    top: 0;
    left: 0;
    width: var(--sidebar-gutter);
    height: 100vh !important;
    flex-direction: column;
    filter: invert(100%);
}
#app .v-bottom-navigation:hover {
    --sidebar-gutter: 100px;
}
#app .v-item-group.v-bottom-navigation .v-btn {
    min-width: unset;
    max-width: 100%;
    margin: 0 auto;
}
.row > .col > div[style*="background-color: rgb(255, 255, 255)"] {
    background-color: transparent !important;
}
.choiceObject, .rowDescriptionObject {
    border: 4px lightgrey solid;
    background-color: #c34571;
    border-radius: 10px !important;
    transition: border 0.3s linear;
    
}
.choiceObject p, .rowDescriptionObject p {
    font-family: "Philosopher" !important;
}
.choiceObject h3 {
    font-family: "Arimo" !important;
    font-size: 32px !important;
    font-variant: small-caps;
    font-weight: bold;
}
.choiceObject h3 + p {
    font-family: "Arimo" !important;
    font-size: 16px !important;
}
.rowDescriptionObject h2 {
    font-family: "Nova Square" !important;
    font-size: 48px !important;
    font-variant: small-caps;
    font-weight: bold;
}
.choiceObject.choice-dhide {
  visibility: hidden;
}
.choiceObject.selected {
    background-color: #931541 !important;
    border: 4px maroon solid;
    font-style: italic;
    color: #e7e7e7;
}
.choiceObject:hover {
    cursor: pointer;
}
.choiceObject.disabled:hover {
    cursor: not-allowed;
}
.choiceObject.unselected.disabled {
    filter: grayscale(70%) brightness(30%) !important;
    transition: all 0.3s linear;
}
.choiceObject.unselected.disabled:hover {
    filter: grayscale(70%) brightness(55%) !important;
}
.choiceObject.choice-qz18 {
    flex-grow: unset;
    width: 75% !important;
    margin: 10px auto !important;
}
.choiceObject.row-69bu span > span {
    display: block;
    position: relative;
    min-height: 87.2px;
}
.choiceObject.row-69bu.unselected h3 {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
}
.choiceObject.row-69bu.selected h3, .choiceObject.row-69bu.unselected:hover h3 {
    transform: translateY(0);
    top: 0;
}
.choiceObject.row-69bu.unselected p {
    opacity: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.choiceObject.row-69bu.selected p, .choiceObject.row-69bu.unselected:hover p {
    opacity: 1;
}
.rowDescriptionObject.row-69bu {
    display: none;
}
.rowDescriptionObject.row-ro2w {
  --img-left: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1719814818/Tower%20of%20God/shinsu/shinsu_is_everything_yuga_left.png");
  display: grid;
  grid-template-areas: 
    "a b"
    "a c"
    "a c";
  grid-template-columns: 25% 1fr;
}
.rowDescriptionObject.row-ro2w h2 {
  width: 100%;
  grid-area: b;
}
.rowDescriptionObject.row-ro2w img {
  content: var(--img-left);
  grid-area: a;
}
.rowDescriptionObject.row-ro2w p {
  grid-area: c;
}
