@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Nova+Square&family=Philosopher:ital@0;1&display=swap');

body::before {
    content: "";
    display: block;
    height: 400px;
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704003399/Tower%20of%20God/tog_logo.jpg");
    background-color: black;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    border-bottom: 3px maroon solid;
}
body::after {
    content: "";
    display: block;
    height: 500px;
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704004564/Tower%20of%20God/zahard_eyes.jpg");
    background-color: black;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) bottom;
    background-attachment: fixed;
    border-top: 3px maroon solid;
}
body {
    background: url("https://res.cloudinary.com/dej3xww0h/image/upload/v1704003030/Tower%20of%20God/wolhaiksong.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
#app.v-application,
.v-application--wrap .pb-12 {
    background-color: transparent !important;
}
.row > .col > div[style*="background-color: rgb(255, 255, 255)"] {
    background-color: transparent !important;
}
.choiceObject, .rowDescriptionObject {
    border: 4px transparent solid;
    background-color: #c34571;
    border-radius: 10px !important;
}
.choiceObject p, .rowDescriptionObject p {
    font-family: "Philosopher" !important;
}
.choiceObject h3 {
    font-family: "Arimo" !important;
    font-size: 36px !important;
    font-variant: small-caps;
    font-weight: bold;
}
.rowDescriptionObject h2 {
    font-family: "Nova Square" !important;
    font-size: 48px !important;
    font-variant: small-caps;
    font-weight: bold;
}
.choiceObject.selected {
    background-color: #931541 !important;
    border: 4px maroon solid;
    font-style: italic;
}
.choiceObject.row-69bu span > span {
    display: block;
    position: relative;
    min-height: 87.2px;
}
.choiceObject.row-69bu.unselected h3 {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
}
.choiceObject.row-69bu.selected h3, .choiceObject.row-69bu.unselected:hover h3 {
    transform: translateY(0);
    top: 0;
}
.choice-qz18.unselected p {
    opacity: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.choice-qz18.selected p, .choice-qz18.unselected:hover p {
    opacity: 1;
}