h1 ~ h1::before {
    content: "";
    position: absolute;
    left: 10%;
    right: 0;
    top: 0;
    border-top: 1px currentColor solid;
}
h1 {
    padding-left: calc(10% + 10px);
    padding-top: 15px;
    position: relative;
}
h1 + ul {
    margin-left: 15%
}
body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 10%;
    background: #2D518F;
}
body {
    margin: 0;
    color: white;
    background: #041E46;
}
li {
    margin-top: 20px;
    font-size: 18px;
}
li li {
    margin: 8px 0
}